

  




    <br>
    <br>    <br>    <br>
    
    
     
    
    <br><br><br>
    <h2 class="ls-top-header text-center"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;إستعادة بيانات الدخول</h2>
    <br><br>
      <h1 class="text-center mt-5"> </h1>
      <div class="container pt-3">
      <div class="row justify-content-sm-center">

     
        
      <div class="col-sm-10 col-md-6">
      <div class="card border-info">
      <div class="card-header  text-center" class="shadow-sm rounded-circle" >   
      
        <i class="material-icons lock " ></i>
      
      </div>
      <div class="card-body ">
        
        <div class="row">
     
    
        
    

    
         
            <div class="col-md-12">
              <label > البريد الاكتروني:</label>
              <input name="ctl00$ContentPlaceHolder1$TXT_R_NATIONAL_NUMEBR_NO"  text-center type="email" [(ngModel)]="email"   id="ContentPlaceHolder1_TXT_R_NATIONAL_NUMEBR_NO" class="form-control input-lg  text-left
              " onkeypress="return isNumberKey(event)" >
             
          </div>
          
       
    <br>
     <br>    <br>
            <div *ngIf="userFound" style="color:Red;" class="error"  >تم إرسال اعاده كلمة المرور عبر البريد الاكتروني </div>
            <div *ngIf="userNOTFound" style="color:Red;"class="error">  البريد الاكتروني غير مسجل فى النظام نرجو إعادة المحاولة وإدخال بريد الاكتروني الصحيح</div>
 
    
    
      
    
    
    <br>
      <div class="form-group">
    
        <br>
    
    
    
    
    
    <br>

    <div class="col-md-12">
   
     
      <div class="col-md-offset-0" dir="ltr">
                                   
        <input  type="submit" name="ctl00$ContentPlaceHolder1$BTN_Loginpage" value="العودة لشاشة الدخول"  (click)="navigateToHome()"   id="ContentPlaceHolder1_BTN_Loginpage" class="btn btn-custom btn-lg BtnReturne" >
      

        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="ctl00$ContentPlaceHolder1$BTN_LOGIN" (click)="ResetPassword()"value="استرجاع كلمة المرور" class="btn btn-custom btn-lg BtnSave" id="ContentPlaceHolder1_BTN_Loginpage2" >
    </div>
  </div>



  </div>







      
   
      </div>
      </div>
      </div>
      
      </div>
      </div>
      </div>  


    









<!-- 



 
  
</pre>
<div class="container-fluid form">
    <div class="row form-row ">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">نسيت كلمة المرور</h5>
                    <div>
                        <div id="errorMsg" >
                            <span></span>
                        </div>
                        <div id="successMsg">
                            <span></span>
                        </div>
    
                   
                                <input _ngcontent-c0=""  placeholder="email"
                         id="email"  type="email" [(ngModel)]="email" />
                         
                      
           
                                <div>
                                    <button type="submit" class=" btn btn-primary" (click)="ResetPassword()">
                                      اعاده كلمة المرور</button>
                                </div>

                                <div *ngIf="userFound">تم إرسال اعاده كلمة المرور عبر البريد الاكتروني </div>
                                <button type="submit" *ngIf="userFound" class=" btn btn-primary"
                                (click)="navigateToHome()">HOME</button>
                     
                    </div>
                </div>
            </div>
        </div>
    </div> -->