
    <br>    <br>    <br>

<div  class="text-right">

  <table>

    <tr>
 
      <td>{{user.name}}</td>
      <br>
      <td> <b>   : إسم </b> </td>
      <br>
    </tr>
    <br>
    <tr>
     
      <td>{{user.phone}}</td>
      <br>
      <td>  <b>   : رقم الجوال  </b></td>
      <br>
    </tr>
    <br>

    <tr>

      <td>{{user.email}}</td>
      <br>
      <br>
      <td><b>   :  البريد الاكتروني   </b>   </td>
      <br>
      <br>
    </tr>
   

  </table>
  <br>
  <a class="btn btn-small btn-danger" (click)="deleteUser(user)">  <i class="fas fa-trash"></i></a>
  &ensp; 
  <a class="btn btn-small btn-warning" (click)="editUser(user)"><i class="fa fa-pencil-square" aria-hidden="true"></i></a> 
</div>
<br>
<br>

<br>
<br>