
<pre> 
  














 
  
</pre>
<p>   <strong >  <b class="text-center">  عن وثّــق </b></strong>  </p>

<br>

<br>


<br>

<br><br>




<div class="bgSizeContain">
    
    <br><br><br><br><br><br><br><br><br>
   
    <div class="col-sm-8">
        <p> خدمة وثّـق الإلكترونية  لحماية  للأفراد والمؤسسات والشركات من إصدار  الشهادات والخبرات الموثوقة
            التي لا يشوبها أي تزوير أو تحريف أو ما شابه ذلك
   بهدف تسهيل إجراءات عملية التوثيق على المستفيدين 
      </p>
  <div class="embed-responsive embed-responsive-16by9">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/tnlrbx8_pQY"
     frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
     allowfullscreen></iframe>   
 </div>


</div>
</div>


  
