

b{

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: 'GE SS Two';
    font-weight: 500;
    font-style: normal;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
    position: relative;
    min-height: 1px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}



p{
    height: 100px;
  
    text-align: center;
    color:#7f7f7f;
    font-size: 20px;
} 
