




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<strong> <p > <b>  الأسئلة الشائعة </b></p></strong>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="d-block w-100" src="../../assets/QQ.png" alt="First slide">
      </div>

      
    </div>

    
    

  
</div>

<!-- <ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="../../assets/Q1.png" alt="First slide">
    </div>
    <div class="carousel-caption">
   
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="../../assets/Q4.png"alt="Second slide">
    </div>
    <div class="carousel-caption">
    
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="../../assets/Q3.png" alt="Third slide">

    </div>
    <div class="carousel-caption">

    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="../../assets/Q2.png" alt="four slide">
    </div>
    <div class="carousel-caption">

    </div>
  </ng-template>
</ngb-carousel>

 -->

