


<br>

<br>

<br><br><br><br>


<div class="container">
    <h1 class="maint">اتصل بنا</h1>
    <div class="section animated bounceInLeft">
        <div class="brandname">
            <div class="company-info">
            <h3>اتصل بنا</h3>
            <ul>
             
    
                    <li><i class="fa fa-fax"></i>+ 011 234 567</li>
                    <li><i class="fa fa-phone"></i>+966 56500002</li>
                    <li><i class="fa fa-envelope"></i>wwhathq@gmail.com</li>
                  </ul>
      
        </div>
    </div>
        <div class="contact ">
   
            <form action="#">
                <p>
                    <label for="#">الاسم</label>
                    <input type="text" name="name">
                </p>
            
                <p>
                    <label for="#">البريد الاكتروني</label>
                    <input type="email" name="email">
                </p>
                <p>
                <label>عنوان الرسالة</label>
                <select class="browser-default custom-select  text-right mb-4">
                    
                    <option value="" disabled>اختر</option>
                    <option value="1" selected>استفسار</option>
                    <option value="2">شكوى</option>
                    <option value="3">بلاغ فني</option>
                    <option value="4">اقتراح</option>
            
                </select>
            </p>
                <p class="full">
                    <label for="#">الرسالة</label>
                    <textarea name="message" cols="30" rows="5"></textarea>
                </p>
                <p class="full">
                    <button>ارسال</button>
                </p>
            </form>
        </div>
    </div>
</div>
















<!-- 

<div class="container">
<form class="text-center border border-light p-5  l-sm"     action="#!">
   
   <strong><p class="h4 mb-4">اتصل بنا </p></strong> 
   <div class="form-group">

    <div class="col-xs-2">
    <input type="text" id="defaultContactFormName" class="form-control   text-right mb-4  " placeholder="اسم المستخدم">


    <input type="email" id="defaultContactFormEmail" class="form-control text-right  mb-4" placeholder="البريد الاكتروني ">


    <label>عنوان الرسالة</label>
    <select class="browser-default custom-select  text-right mb-4">
        <option value="" disabled>اختر</option>
        <option value="1" selected>Feedback</option>
        <option value="2">شكوى</option>
        <option value="3">بلاغ فني</option>
        <option value="4">استفسار</option>
        <option value="4">اقتراح</option>

    </select>

  
    <div class="form-group   text-center">
        <textarea class="form-control rounded-0   text-right"  id="exampleFormControlTextarea2" rows="3" placeholder="الرسالة"></textarea>
    </div>

  

    <button class="btn btn-info btn-block l-sm" type="submit">ارسال</button>
</div>
</div>
</form>
</div> -->
