<pre> 
  

















 
  
</pre>
 <div class="container-fluid ">
 <form [formGroup]="passwordForm">
<div class="row" >
 <div class="col-md-12  close-form">

        </div>
    </div>
    <div class="row"
       >
        <div class="col-md-12">

        </div>
    </div>
    <div class="row" >
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">كلمة المرور الجديدة</h5>
                    <div>
                        <div id="errorMsg" >
                            <span></span>
                        </div>
                        <div id="successMsg" >
                            <span></span>
                        </div>
                
                            <div class="form-group">
                                <input _ngcontent-c0="" 
                                class="form-control" 
                                formControlName="pass" 
                                placeholder=" كلمة المرور الجديدة"
                                    type="password"
                                     id="password" 
                                     [(ngModel)]="password" 
                                      #pass/>

                                    <div *ngIf="passwordForm.get('pass').touched && passwordForm.get('pass').invalid" >
                                        <small *ngIf="passwordForm.get('pass').errors.required" class="text-danger">  لايمكن ان تكون فارغة<br></small>
                                        <small *ngIf="passwordForm.get('pass').errors.minlength" class="text-danger">    يجيب ان تكون اكثر من ستة خانات  </small>
                                      </div>
                                
                            </div>
<div class="form-group">
 <input _ngcontent-c0="" class="form-control" 
 placeholder="اعاده كلمه المرور  " type="password" id="cpassword"
[(ngModel)]="confirmPassword" formControlName="repassword"  #repassword />
                               
 <div *ngIf="passwordForm.get('repassword').valid && passwordForm.get('repassword').value != passwordForm.get('pass').value" class="text-danger">
ليس متطابقة
 </div>


                <div *ngIf="passwordForm.get('repassword').touched && passwordForm.get('repassword').invalid">
                    <small *ngIf="passwordForm.get('repassword').errors.required" 
                    class="text-danger">   لايمكن ان تكون فارغة<br></small>
                </div>

                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="  btn btn-primary"  (click)="updatePassword()">تغير كلمة المرور</button>

                                    <div *ngIf="passwordChanged">تم تغير كلمة المرور بنجاح.</div>
                                    <button type="submit" *ngIf="passwordChanged" class=" btn btn-primary"
                                (click)="navigateToHome()">الصفحه الرئسية</button>

                                </div>
                            </div>

                 
                    </div>
                </div>
            </div>
        </div>

    </div> 
</form>



    