
<br>
<br>

<br>
<br>




<div class="jumbotron vertical-center" >

<div *ngIf="isSignedUp   ; else signupForm">
<h1> تم التسجيل بنجاح</h1>
    </div>
    
    <ng-template #signupForm>
    
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    
    <br>

    <div class="container py-6">
    <div class="row">
    <div class="mx-auto col-sm-12">
    <p class="text-right">
    الخطوة الأولى - إنشاء البيانات الرئيسية  
    </p>
    <hr>
    
    <div class="card   text-right">
    <div class="card-header">
    <h3>
    البيانات التعريفية
    </h3>
    </div>
    
    <div class="card-body  text-right">
    <div class="form-row">

    
 <div class="form-group col-md-6">

        <label for="username">رقم  المنشئه </label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
        required
        minlength="10"
        />
         <div  class="alert-danger" *ngIf="f.submitted && username.invalid">
        <div *ngIf="username.errors.required"> مطلوب </div>
        <div *ngIf="username.errors.minlength">
           يجب ان يكون  عشر ارقام
        </div>
        </div>
        </div>
 
  
    
    
    
    
    <div class="form-group col-md-6">

    <label for="name"> إسم  المنشئه </label>
    <input type="text" class="form-control"  id="name" name="name"   [(ngModel)]="form.name" #name="ngModel" required />
    <div  *ngIf="f.submitted && name.invalid">
    <div class="alert-danger" *ngIf="name.errors.required">مطلوب</div>
    </div>
    </div>

    
    
  

    

    <div class="form-group col-md-6" style="text-align:right; margin:0px auto 0px auto;">
      <label for="select_role" > نوع القطاع  </label>
      <input type="text" class="form-control"  id="select_role" name="select_role" [(ngModel)]="form.select_role" #select_role="ngModel" required />

      <div *ngIf="f.submitted && select_role.invalid">
      <div class="alert-danger" *ngIf="select_role.errors.required">مطلوب</div>

      </div>

      </div>

    <br>

    
  </div>
   
    <!-- //end row -->
    </div>
    
    <!-- //end card-body -->
    
    </div> 
    
    <!--   end container py-6 -->
    
    
    </div> 
    <!--  end row -->
    
    
    </div> 
    <!-- end  mx-auto col-sm-12 -->
    
    </div>
    
    <!-- end card   text-right -->
    
    
    <br>
    
    <div class="card text-right">
    <div class="card-header">
    <h3>
    بيانات الإتصال
    </h3>
    </div>
    <!--   end card-header-->
    <div class="card-body">
    <br>
    
    
    
    <div class="form-group">
    <label for="email">البريد الاكتروني</label>
    <input
    type="email"
    class="form-control"
    name="email"
    [(ngModel)]="form.email"
    required
    
    #email="ngModel"
    />
    <div class="alert-danger" *ngIf="f.submitted && email.invalid">
    <div class="alert-danger" *ngIf="email.errors.required">مطلوب</div>
    <div *ngIf="email.errors.email">
يجيب ادخال بريد إلكتروني
    </div>
    </div>
    </div>
    
    
    
    
    
    <div class="form-group">
    <label for="phone">رقم الجوال </label>
    <input type="number" class="form-control"   name="phone" [(ngModel)]="form.phone" #phone="ngModel"
    required       minlength="10" />
    <div class="alert-danger" *ngIf="f.submitted && phone.invalid">
        <div *ngIf="phone.errors.required">مطلوب</div>
        <div *ngIf="phone.errors.minlength">
يجيب ان يكون عشر ارقام
        </div>
      </div>
    </div>
    
    
    
    
    
    </div>
    
    </div>
    <br>
    
    
    
  
  <div class="card text-right">
    <div class="card-header">
    <h3>
    بيانات الدخول
    </h3>
    </div>
  <!--   end card-header-->
  <div class="card-body">

    <div class="form-group">
        <label for="password">كلمة المرور</label>
        <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div class="alert-danger" *ngIf="f.submitted && password.invalid">
        <div *ngIf="password.errors.required">مطلوب</div>
        <div *ngIf="password.errors.minlength">
يجب ان يكون اكثر من ست خانات
        </div>
      </div>
    </div>

    
    
    
    <br>



<div class="form-group">
<label for="confirmPassword"> إعادة كلمة المرور</label>
<input  class="form-control" 
type="password" 
name="confirmPassword"
[(ngModel)]="form.confirmPassword"
required
minlength="6"
#confirmPassword="ngModel"
/>
                                  
    <div  class="alert-danger"  *ngIf="confirmPassword.valid && confirmPassword.value != password.value"  >
   ليس متطابقة
    </div>
  </div>
  
  <!--   end card-body-->
  </div>
  


</div>






<div class="form-group" >   


 <button  class="btn btn-primary btn-block" > تسجيل</button>

  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
    فشل التسجيل!<br />{{ errorMessage }}
  </div>

  </div>


  




  
 


</form>

</ng-template>
</div>

