/* table, th, td {
    border: 1px solid black;
  } */



  table { 
    width: 750px; 
    border-collapse: collapse; 
    margin:50px auto;
    }
  
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
    }
  
  th { 
    background: #3498db; 
    color: white; 
    font-weight: bold; 
    }
  
  td, th { 
    padding: 10px; 
    border: 1px solid #ccc; 
    text-align: left; 
    font-size: 18px;
    }
  



button{
background-color: #479fd5;


}
button:hover{background-color:#5b81a4;}
