
<pre> 
  











 
  
</pre>
<div class="container text-center">

    <div class="row mb-5">
        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/individualss.jpg" class="card-img-top" alt="...">
           
                <div class="card-body">
                 
                    <h1 class="card-title" >الافراد</h1>
             
                    <a href="/Edution/U" class="btn btn-sm btn-primary">عرض</a>
     
               
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/businesss.png" class="card-img-top" alt="...">
          
                <div class="card-body">
                    <h1 class="card-title">جهات العمل</h1>
                   
            
                    <a href="/Business/U" class="btn btn-sm btn-primary">عرض </a>
     
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/education.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">جهات التعليم </h1>
                    <a href="/Individuals/U" class="btn btn-sm btn-primary">عرض </a>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 
 <a class="btn btn-default btn-lg active"  (click)="btnClick()"  role="button" aria-pressed="true">تسجيل جديد  </a> 
&nbsp; &nbsp; &nbsp;
<a class="btn btn-default btn-lg active" role="button" aria-pressed="true">تسجيل دخول </a>
 -->