
<section class="hk-services">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="hk-services-header text-center">
                    <h2>
                        Services
                    </h2>
                    <p class="mt-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo, quam non porttitor sodales, est mauris varius tellus, ac dignissim ante est sit amet augue. In id pharetra neque. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="hk-services-box text-center">
                    <i class="fas fa-paint-brush"></i>
                    <h3>Design</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="CV" > 
                <div class="hk-services-box text-center">
                    <i class="far fa-address-card"></i>
                    <h3>سيرتي الذاتية</h3>

                </div>

            </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="hk-services-box text-center">
                    <i class="fas fa-desktop"></i>
                    <h3>UI/UX</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="hk-services-box text-center">
                    <i class="fas fa-users"></i>
                    <h3>Marketing</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="hk-services-box text-center">
                    <i class="fas fa-signal"></i>
                    <h3>SEO</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="hk-services-box text-center">
                    <i class="fab fa-twitter"></i>
                    <h3>SMM</h3>
                </div>
            </div>
        </div>
    </div>
</section>